@page
@model Api.Pages.Saints.EditModel
@{
    ViewData["Title"] = "Cavaleiros";
}
<h1><strong>Editar Cavaleiro</strong></h1>
<br>
@if (Model.Saint != null)
{
    <h3>@Model.Saint.Name</h3>
    <h5>Constelação: @Model.Saint.Constellation</h5>
}
else
{
    <strong>Cavaleiro não encontrado!</strong>
}
<div>
    <a asp-page="./Index">Voltar a Lista</a>
</div>

